In [1]:
#Function used-> pd.DataFrame
import pandas as pd 

lst=['Geeks','Yash','Data Scientist','Successful']
df = pd.DataFrame(lst)    
print(df)

                0
0           Geeks
1            Yash
2  Data Scientist
3      Successful

In [2]:
#Create DataFrame from List using Dictionary

import pandas as pd
# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]

#dictionary of lists
dict={'name':nme, 'degree':deg, 'score':scr}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [3]:
import pandas as pd

list = [[1,2,3,4],[5,6,7,9]]
df = pd.DataFrame(list)
print(df)

   0  1  2  3
0  1  2  3  4
1  5  6  7  9

In [5]:
import pandas as pd

list = [['Yash',23],['Abhishek',22],['Rohit',15]]

df = pd.DataFrame(list,columns=['Name','Age'])
print(df)

       Name  Age
0      Yash   23
1  Abhishek   22
2     Rohit   15

In [9]:
import pandas as pd
data = [['Yash', 23, 'Data Scientist'],['Harsh', 22, 'Business Analyst']]
column = ['Name','Age','Occupation']
df = pd.DataFrame.from_records(data, columns=column)
print(df)

    Name  Age        Occupation
0   Yash   23    Data Scientist
1  Harsh   22  Business Analyst

In [10]:
import pandas as pd

data = {'Category':['General','OBC','SC/ST'],
        'Marks':[99,80,50]}

df=pd.DataFrame(data)
print(df)

  Category  Marks
0  General     99
1      OBC     80
2    SC/ST     50

In [13]:
import pandas as pd

data = {'Area':['Array','Stack','Queue'], 'Student_1':[20,21,19], 'Student_2':[15,20,24]}
index1 = ['Cat_1','Cat_2','Cat_3']
df = pd.DataFrame(data, index=index1)
print(df)

        Area  Student_1  Student_2
Cat_1  Array         20         15
Cat_2  Stack         21         20
Cat_3  Queue         19         24

In [14]:
#Creating dataframe using tuples 
import pandas as pd

data = [('Peter',18,7),
       ('Riff',15,6),
       ('John',17,8)]

df=pd.DataFrame(data,columns=['Name','Age','Score'])

print(df)

    Name  Age  Score
0  Peter   18      7
1   Riff   15      6
2   John   17      8

In [15]:
#We can also create the data fram by using from_records() function 
# For example ->
# df = pd.DataFrame.from_records(data,columns=['Team','Age','Score'])
# print(df)

SyntaxError: invalid syntax (3267063435.py, line 2)

In [17]:
#Creating data frame using list of dictionaries
import pandas as pd

data=[{'Geeks':'dataframe','For':'using','geeks':'list'},
     {'Geeks':10, 'For':20 , 'list':30}]

df = pd.DataFrame.from_records(data,index=[1,2])
print(df)

       Geeks    For geeks  list
1  dataframe  using  list   NaN
2         10     20   NaN  30.0

In [19]:
import pandas as pd
data = [{'Geeks':'dataframe','For':'using'},{'Geeks':10 , 'For':20}]

df1 = pd.DataFrame(data,index=['ind1','ind2'])

df2 = pd.DataFrame(data,index=['indx','indy'],columns=['Geeks','For','Geeks'])

print(df1)

print(df2)

          Geeks    For
ind1  dataframe  using
ind2         10     20
          Geeks    For      Geeks
indx  dataframe  using  dataframe
indy         10     20         10

In [21]:
#nested Dictionaries in Panda DataFrame
import pandas as pd

data = [{'Country': 'New Country 1' , 'Capital':'New Capital 1', 'Population': 123456789},
       {'Country':'New Country 2','Capital':'New Capital 2','Population':987654321},
       {'Country':'New Country3','Capital':'New Capital 3','Population':111222333}]

df = pd.DataFrame(data, index=[1,2,3])
print(df)

         Country        Capital  Population
1  New Country 1  New Capital 1   123456789
2  New Country 2  New Capital 2   987654321
3   New Country3  New Capital 3   111222333

In [36]:
import pandas as pd

list = [{
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                    ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                    ],
        "Name": "Chunky Pandey"
        }
        ]

rows = []
for data in list:
    data_row = data['Student']
#     print(data_row)
    time=data['Name']
#     print(time)
    for row in data_row:
        row['Name'] = time
#         print(row)
        rows.append(row)
#         print(rows)
        

df = pd.DataFrame(rows, index=[1,2,3,4,5])

print(df)

   Exam Grade           Name
1    90     a     Paras Jain
2    99     b     Paras Jain
3    97     c     Paras Jain
4    89     a  Chunky Pandey
5    80     b  Chunky Pandey

In [30]:
#using pivot table
df = df.pivot_table(index='Name',columns=['Grade'],values=['Exam']).reset_index()

#defining columns
df.columns = ['Name','Maths','Physics','Chemistry']

#print dataframe
# print(df)

            Name  Maths  Physics  Chemistry
0  Chunky Pandey   89.0     80.0        NaN
1     Paras Jain   90.0     99.0       97.0